/**----------Google font----------**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/**------common css------***/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width:80%;
    margin: auto;
}


/****---------Header-area---------****/
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.header-left{
    font-size: 24px;
    color:#3A3A3A;
}
.header-nav nav a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 40px;
    color: #3A3A3A;
}
.header-nav i{
    margin-right: 40px;
}



/*********------------influencer-area----------***********/
.influencer-area{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.influencer-title h1{
    font-size: 52px;
    color:#3A3A3A;

  
}
.influencer-title p{
    font-size: 16px;
    color:#3A3A3A;
    font-weight: 600;
}
.influencer-title .button{
    border: 2px solid #E02C6D;
    padding: 10px 20px;
    border-radius: 20px;
    color:#E02C6D;
    margin-top: 20px;
}
.influencer-title .button:hover{
    background-color: #E02C6D;
    color: aliceblue;
    transition: ease-in 0.2s;
}
.influencer-title i{
    margin-left: 10px;
}
.influencer-img img{
    width: 440px;
height: 400px;
}


/**********--------logo-area-------***************/
.logo-area img{
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.logo-area {
    display: flex;
}






/*********--------popular-collection area---------**********/


.popular-area h1{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.collect-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px
}
.collect-area .collection{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-radius:10px;
    padding: 10px;
   
}
.collection-img img{
    border: 10px;
   
 
   

}
.collection-details h2{
    font-weight: 500;
font-size: 28px;
}
.collection-details .star{
    display: flex;
    align-items: center;
}
.collection-details p{
    color: #787885;
}
.collection-details .star i{
    color: #FB8200;
}
.collection-details .star p{
    margin-left: 10px;
  
}
.popular-area .text1{
    color: #E02C6D;
    text-align:end;
    margin-top: 20px;
}
.popular-area .text1 i{
    margin-left: 10px;
}




/*****---------------service-area------******/
.service-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px
 
}
.service-title h1{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.service-area .service{
    border-radius:10px;
    padding: 10px;
    width: 329px;
    height: 476px;

}
.service-img img{
    border: 10px;
    
}
.service-text i{
    background-color:#E02C6D ;
    color: aliceblue;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.service-text p{
    color:  #6C6C6C;
    font-size: 14px;
}
.service-text .button{
    border: 2px solid #E02C6D;
    padding: 10px 20px;
    border-radius: 20px;
    color:#E02C6D;
    margin-top: 20px;
}
.service-text .button:hover{
    background-color: #E02C6D;
color: aliceblue;
transition: ease-in 0.2s;
}



/****-----------footer-area-----***/
.footer-area{
       margin-top: 70px;
        background-color: #0A0826;
        padding: 20px;
        text-align: center;
}
.footer-text{
    text-align: center;
    color: aliceblue;
}
.footer-icon i{
    font-size: 20px;
    margin-top: 10px;
    color: aliceblue;
    background-color: #22213C;
    border-radius: 10px;
    padding: 5px;
  
}



/***************----------media query--------****************/
@media only screen and (max-width:320px){
    .header-left{
        font-size: 16px;
    }
    .influencer-area {
        display: grid;
        grid-template-columns:  1fr;}

    .logo-area {
            flex-direction: row;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;}
            .popular-area h1{
                font-size: 25px;
                text-align: center;
            }
            .popular-area{
                text-align: center;
            }
    .collect-area {
                display: grid;
                grid-template-columns:  1fr;
                gap: 30px;}
    .service-area {
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 50px;}
}


@media only screen and (min-width:321px) and (max-width:768px){
    .influencer-title h1{
        font-size: 30px;
    }
    .logo-area {
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;}
    .collect-area {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;}
    .service-area {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;}
}
