/**----------Google font----------**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/**------common css------***/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}


/****---------Header-area---------****/
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.header-left{
    font-size: 24px;
    color:#3A3A3A;
}
.header-nav nav a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 40px;
    color: #3A3A3A;
}
.header-nav i{
    margin-right: 40px;
}



/*********------------influencer-area----------***********/
.influencer-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.influencer-title h1{
    font-size: 52px;
    color:#3A3A3A;

  
}
.influencer-title p{
    font-size: 16px;
    color:#3A3A3A;
    font-weight: 600;
}
.influencer-title .button{
    border: none;
    background-color:#E02C6D;
    padding: 10px 20px;
    border-radius: 20px;
    color:#FFFFFF;
    margin-top: 20px;
}
.influencer-img img{
    width: 440px;
    height: 400px;
}



/**********--------logo-area-------***************/
.logo-area img{
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}




/*********--------popular-collection area---------**********/


.popular-area h1{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.collect-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px
}
.collect-area .collection{
    background-color: #EDF5F6;
    border-radius:10px;
    padding: 10px;
    width: 329px;
    height: 476px;
}
.collection-img img{
    border: 10px;
    width: 100%;
    height: 256px;
   

}
.collection-details h2{
    font-weight: 500;
font-size: 28px;
}
.collection-details .star{
    display: flex;
    align-items: center;
}
.collection-details p{
    color: #787885;
}
.collection-details .star i{
    color: #FB8200;
}
.collection-details .star p{
    margin-left: 10px;
  
}

