/**----------Google font----------**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/**------common css------***/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}


/****---------Header-area---------****/
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.header-left{
    font-size: 24px;
    color:#3A3A3A;
}
.header-nav nav a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 40px;
    color: #3A3A3A;
}
.header-nav i{
    margin-right: 40px;
}



/*********------------influencer-area----------***********/
.influencer-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.influencer-title h1{
    font-size: 52px;
    color:#3A3A3A;

  
}
.influencer-title p{
    font-size: 16px;
    color:#3A3A3A;
    font-weight: 600;
}
.influencer-title .button{
    border: none;
    background-color:#E02C6D;
    padding: 10px 20px;
    border-radius: 20px;
    color:#FFFFFF;
    margin-top: 20px;
}
.influencer-img img{
    width: 440px;
    height: 400px;
}



/**********--------logo-area-------***************/
.logo-area img{
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}
